<div class="container-fluid">
  <div class="container xd-container">

    <h2>Veterinarians</h2>

    <table id="vets" class="table table-striped">
      <thead>
      <tr>
        <th>Título</th>
        <th>Descripción</th>
        <th>Descuento</th>
        <th>Caducidad</th>
        <th></th>
        <th></th> 
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let sale of sales">
        <td>
          {{ sale.title }}
        </td>
        <td>
            {{ sale.description }}
        </td>
        <td>
          {{sale.discount | number: '.2'}}%
        </td>
        <td>
          {{sale.expirationDate}}
        </td>
        <td>
          <button class="btn btn-default" (click)="editVet(vet)">Edit Sale</button>
          <button class="btn btn-default" (click)="deleteSale(sale.id)">Delete Sale</button>
        </td>
      </tr>
      </tbody>
    </table>
    <div>
      <button class="btn btn-default" (click)="gotoHome()">Home</button>
      <button class="btn btn-default" (click)="addSale()">Add Sale</button>
    </div>
  </div>
